#app {
    display: flex;
    flex-direction: column;
    gap: 15px;


    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 400px;
    transform: translate(-50%, calc(-50% - 100px));
}

* {
    font-size: 17px;
    box-sizing: border-box;
}

button {
    background: #3B82F6;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 10px;
}

#app .menu button {
    width: 100px;
    background: #94A3B8;
}

#app .menu button[selected] {
    background:#475569;
}

#app #upload-field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
}

#app #upload-field label[for="file-input"] {
    padding: 10px;
    background: rgba(0,0,0,0.02);
    border: 2px dashed gray;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#app #upload-complete #download-key {
    font-weight: bold;
    font-size: 20px;
}

#app #download-key:hover {
    background: #3B82F6;
    color: white;
    cursor: copy;
}

#app #download-field {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#app #download-field .key-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100px;
}

#app #download-field input {
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 19px;
    padding-bottom: 5px;
    width: 40px;
    height: 50px;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}